@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body {
    font-family: 'Handlee',
    cursive;
    margin: auto;
}

.input-style {
    text-align: center;
}

.textArea {
    width: 50%;
    height: 10vh;
    margin: auto;
    border: 3px solid black;
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;

}

#output {
    border: 3px solid black;
    height: 10vh;
    width: 50%;
    display: block;
    margin: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.heading {
    text-align: center;
}

.heading-color {
    background-color: #FCA5A5;
    height: 10vh;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
}

.output-text {
    font-size: larger;
    text-align: center;
    padding: 2rem;
}

#btn-translate {
    background-color: #FCA5A5;
    padding: 0.3rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 90px;
    color: white;
}

.button-style {
    text-align: center;
}

.imager .image-styling {
    max-width: 100%;
    max-width: 200px;

}

.imager {
    text-align: center;
    padding: 0.5rem;
}